/* Main CSSS */

/*
fonts available

font-family: 'Open Sans Condensed', sans-serif;
font-family: 'PT Serif', serif;   */

body{
	font-family: 'Open Sans Condensed', sans-serif;
	margin:0px;
	padding: 0px;	
}

img {
	max-width: 100%;
}

#nameHeader{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	
}

#logo-container{
	width: 60%;
	margin: 0%;
	margin-right: 20%;
}

 .logo {
	min-width: 150px;
	min-height: 150px;
	vertical-align: middle;
}

#headerText {
	width: 20%;
	margin: 0%;
	text-align: left; 
	min-width: 100px;
	height: 196px;
	display: flex;
	flex-wrap:wrap;




	
	

}


.name, .job {
	display: block;
	text-align: left;
	
	height: 50%;
	width: 100%;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 200%;
	
	
}

.name {		
	line-height: 150px;	
}

.job {
	position: relative;
	
}

#banner-photo-container {
	max-height: 500px;
	width: 100%
}

.banner-photo {
	max-height: 500px;
	width: 100%
}

#work-item-container {
	flex-wrap: wrap;
	display: flex;
}

.work-item {
	min-height: 300px;
	width: 100%;
}

.work-item-photo {
	width: 300px;
	height: 300px;
}


/* mobile width @ 320 & down */

@media screen and (max-width: 320px) {
	
}



/* tablet width @ 450 & up */

@media screen and (min-width: 450px) {


/* desktop 750 & up */ 
@media screen and (min-width: 750px) {