/* Sources for CSS include:
 https://developer.mozilla.org/en-US/
 https://coolors.co/
 https://www.webpagefx.com/web-design/hex-to-rgb/ 

 */

/* Main CSSS */

/*
fonts available

font-family: 'Open Sans Condensed', sans-serif;
font-family: 'PT Serif', serif;   */

body{
	font-family: 'Open Sans Condensed', sans-serif;
	margin:0px;
	padding: 0px;	
	background-color: #A0AAB2
}

img {
	max-width: 100%;
	margin: 0px;
}

#nameHeader{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	height: 150px;
	
}

#logo-container{
	width: 50%;
	margin: 0%;
	margin-right: 0%;
	height: 100px;
}

 .logo {
	min-width: 100px;
	min-height: 100px;
	vertical-align: middle;
}

#headerText {
	width: 50%;
	margin: 0%;
	text-align: left; 
	min-width: 100px;
	height: 150px;
	display: flex;
	flex-wrap:wrap;

}


.name, .job {
	display: block;
	text-align: left;
	height: 50%;
	width: 100%;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 175%;	
}

.name {		
	line-height: 130px;	
}

.job {
	position: relative;
	line-height: 0px;
	
}

.headerLine {
	color: #087E8B;
	background-color:#087E8B; 
	height: 2px;
	margin: 0px 0px 0px 0px;
	border: 0;

}

#banner-photo-container {
	max-height: 500px;
	width: 100%
}

.banner-photo {
	margin-top: 10px;
	max-height: 500px;
	width: 100%;
	box-shadow: 10px 5px 5px black;

}

#work-item-container {
	flex-wrap: wrap;
	display: flex;
}

.work-item {
	min-height: 300px;
	width: 100%;
}

.work-item-photo {
	width: 300px;
	height: 300px;
	box-shadow: 10px 5px 5px black;
}

.work-item-title, .project-description {
		text-align: center;
	}


/* mobile width @ 450 & down */

@media screen and (max-width: 699px) {

	#nameHeader{
		height: 100px;
	}

	#headerText{
		height: 100px;
		font-size: 90%;
	}

	.logo{
		width: 100px;
		height: 100px;
	}

	.name{
		line-height: 80px;
	}

	.job {
		line-height: 40px;
	}

	.work-item-photo {
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}

	.work-header {
		margin-left: 5px;
	}

	.work-item-text-container {
		text-align: center;
	}	
}
	
/* tablet width @ 700 & up */

@media screen and (min-width: 700px) {
	#nameHeader{
		height: 100px;
		display: flex;
		flex-wrap: wrap;
	}

	#headerText{
		height: 100px;
		font-size: 100%;
		width: 25%;
	}
	
	#logo-container{
		width: 75%;
	}

	.logo{
		width: 120px;
		height: 120px;
	}

	.name{
		line-height: 80px;
	}

	.job {
		line-height: 40px;
	}

	.work-header {
		display: block;

	}

	.work-item {
		width: 30%;
		margin-left: auto;
		margin-right: auto;						

	}
		
	.work-item-text-container {
		display: block;
	}
		
	.work-item-photo {
		width: 33%
		display: flex;
		
		max-height: 250px;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		
	}

	.work-header {
		margin-left: 5px;
	}

	.work-item-container {
		display: flex;
		text-align: center;
	}
}


/* desktop 800 & up */ 
@media screen and (min-width: 800px) {

	main{
		width: 800px;
		margin-right: auto;
		margin-left: auto;
	}

